<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      [latitude]="latitude"
      [longitude]="longitude"
      [label]="You"
      [markerDraggable]="false">
    <agm-info-window [isOpen]="false">
      <strong>Your current location</strong>
    </agm-info-window>
  </agm-marker>
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="false"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window [isOpen]="true">
      <strong>{{m.content}}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>